- #  Copyright (c) 2020, Pfadibewegung Schweiz. This file is part of
- #  hitobito and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito.

- if parent.class == Group::Bund
  = f.boolean_field(:group_health, caption: model_class.human_attribute_name(:group_health))
  = f.boolean_field(:census_evaluations, caption: model_class.human_attribute_name(:census_evaluations))
