
= render_attrs(entry, :pbs_number, :j_s_number, :salutation_value, :correspondence_language,
                      :grade_of_school, :brother_and_sisters)

= render_attrs(entry, :entry_date, :leaving_date)

