-#  Copyright (c) 2021 Pfadibewegung Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= section_table(title, collection) do |item|
  %td
    %strong= item.labeled_link
    - if item.is_a?(Event::Application)
      %p
        %i.fa.fa-info-circle
        = item.current_status_label
  %td= item.dates_full
