-#  Copyright (c) 2012-2014, Pfadibewegung Schweiz. This file is part of
-#  hitobito_pbs and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_pbs.

- if @group_counts[group.id].nil? && @evaluation.current_census_year? && can?(:remind_census, @group)
  = action_button(t('.remind'),
                  census_kantonalverband_remind_group_path(@group, abteilung_id: group.id),
                  nil,
                  class: 'btn-small',
                  id: "reminder_#{group.id}",
                  data: {remote: true, method: :post, disable_with: t('.remind')})

