-#  Copyright (c) 2018, Pfadibewegung Schweiz. This file is part of
-#  hitobito_pbs and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_pbs.

- if can?(:create, Crisis)
  - if @crisis && !@crisis.try(:acknowledged) && @crisis.try(:creator) != current_user
    = action_button(t('.crisis_done'), group_crisis_acknowledge_path(@group, @crisis), :check, method: :patch)

  - if !@crisis
    = action_button(t('.crisis'), group_crises_path(@group), :medkit, method: :post, class: 'btn-danger')
