-#  Copyright (c) 2012-2014, Pfadibewegung Schweiz. This file is part of
-#  hitobito_pbs and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_pbs.

= render_attrs(entry, *entry.used_attributes(:website, :gender, :try_out_day_at, :geolocations))

= render_attrs(entry, *entry.used_attributes(:pbs_shortname, :bank_account, :cantons))

= render_attrs(entry, *entry.used_attributes(:pta, :vkp, :pbs_material_insurance))
