-#  Copyright (c) 2012-2014, Pfadibewegung Schweiz. This file is part of
-#  hitobito_pbs and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_pbs.

- if group.kind_of?(Group::Abteilung) && can?(:show_population, group)
  - bar.tab tab_population_label(group), population_group_path(group)

- if group.census? && can?(:evaluate_census, group)
  - bar.tab "Statistik", census_evaluation_path(group), [censuses_path, group_member_counts_path(group)]
