-#  Copyright (c) 2012-2015, Pfadibewegung Schweiz. This file is part of
-#  hitobito_pbs and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_pbs.

- if entry.is_a?(Event::Course)
  - if can?(:update, entry) && entry.canceled?
    = action_button ti('.inform_by_email'), "mailto:#{@emails.join(', ')}", :envelope

  - if entry.tentative_application_possible? && can?(:create_tentative, entry.participations.new)
    = action_button ti('.create_tentative_application'), new_tentative_group_event_participations_path(@group, entry, for_someone_else: true), :check

