-#  Copyright (c) 2012-2015, Pfadibewegung Schweiz. This file is part of
-#  hitobito_pbs and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_pbs.

- entry.used?(:camp_days) do
  = f.labeled_input_field :camp_days, help: t('activerecord.attributes.event.camp_days_help_inline'), type: 'number', step: '0.1'
