-#  Copyright (c) 2012-2015, Pfadibewegung Schweiz. This file is part of
-#  hitobito_pbs and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_pbs.

- entry.used?(:express_fee) do
  = labeled_attr(entry, :express_fee) if entry.express_fee.present?

- entry.used?(:language_de) do
  = labeled_attr(entry, :course_languages) if format_attr(entry, :course_languages).present?
