.brand {
  display: block;
  float: left;
  width: 219px;
  height: 76px;
  padding: 0px 0;
  margin-right: 40px;

  // Hide text
  text-indent: -9999px;
  white-space: nowrap;
  font-family: $headingFontFamily;
  font-weight: bold;
  font-size: 2.462em; // 32px
  line-height: 1.250em; // 40px
  @include single-text-shadow(white, 0, 1px, 0);

  background: image-url("logo.svg") transparent no-repeat 0px 0px;

  // Retina version
  @media
    only screen and (-webkit-min-device-pixel-ratio : 2),
    only screen and (min-device-pixel-ratio : 2) {
      background-size: 219px 72px;
  }

}

/* Content */
#page {
  padding: 5px 10px 90px;
  margin: 0;
  background: $pageBackground;

  @include responsive(mediaTablet) {
    margin: 0;
    padding: 5px 10px 90px;
  }

  & > .sheet { margin: 0 20px; }
}


table.attendance {
  tr th {
    padding-top: 20px;
    background-color: transparent !important;
    padding-left: 0 !important;

    h2 {
      margin-bottom: 0;
    }
  }


  td:last-child {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  td input {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.separated {
  border-top: 1px solid #E8EBF0;
  margin: 6px 0;
  padding: 6px 0;

  &:last-child {
    border-bottom: 1px solid #E8EBF0;
    padding-bottom: 12px;
  }
}

.separated-header {
  padding: 6px 0;
}
