-#  Copyright (c) 2012-2014, Pfadibewegung Schweiz. This file is part of
-#  hitobito_pbs and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_pbs.

= render layout: 'census_evaluation/base/table_header',
         locals: { before_columns: [''],
                   after_columns: [t('census_evaluation.total'), '']} do
  = render 'census_evaluation/base/total_row'
