-#  Copyright (c) 2012-2014, Pfadibewegung Schweiz. This file is part of
-#  hitobito_pbs and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_pbs.

-title "Neue Bestandesmeldungen erfassen"

= entry_form(buttons_bottom: false,
             cancel_url: census_bund_group_path(Group.root))
