$('#modal-placeholder').html("#{escape_javascript(render(partial: 'supercamps/available'))}")

:plain
  $('#supercamps-available-submit').click(function() {
    var selectedSupercamp = $('input:radio[name=supercamp]:checked').val()
    if (selectedSupercamp === undefined) {
      $('#supercamps-available').modal('hide')
      return
    }
    var $form = $('form[id^=edit_event_], form#new_event')
    $form.attr('action', selectedSupercamp)
    $form.submit()
  })

$('#supercamps-available').modal('show')
