// Typography
// -------------------------
$sansFontFamily:        Helvetica, Arial, sans-serif !default;
$headingFontFamily:     'Quicksand', $sansFontFamily !default;
$baseFontFamily:        'Varela Round', $sansFontFamily !default;
