-#  Copyright (c) 2012-2015, Pfadibewegung Schweiz. This file is part of
-#  hitobito_pbs and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_pbs.

#main
  %p= t('.info')

  = table(@approvals, class: 'table table-striped') do |t|
    - t.col(Event::Person.model_name.human) { |a| link_to(a.approvee, [a.event.groups.first, a.event, a.participation]) }
    - t.col(Event::Course.model_name.human) { |a| link_to(a.event, [a.event.groups.first, a.event]) }
    - t.col(Event.human_attribute_name(:dates)) { |a| a.event.decorate.dates_full }
    - t.col(Event::Participation.human_attribute_name(:created_at)) { |a| format_attr(a.participation, :created_at) }


  = render 'approvers'
