-#  Copyright (c) 2012-2014, Pfadibewegung Schweiz. This file is part of
-#  hitobito_pbs and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_pbs.

- if @census && (@census.year >= Date.today.year || @census == @current_census)
  %p
    Die
    - if @census == @current_census
      aktuellen
    Bestandesmeldungen für
    = @census.year
    können ab dem
    = f(@census.start_at)
    erfasst werden.
    - if @census.finish_at?
      Stichtag ist der
      = f(@census.finish_at)
