= csv_field_documentation(:salutation, Salutation.available)
= csv_field_documentation(:correspondence_language, Settings.application.languages.to_hash)
= csv_field_documentation(:brother_and_sisters, '0' => 'nein', '1' => 'ja')